<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737971452811-fk4flvse1ts51m34t736osoptk63nhfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737971452811-fk4flvse1ts51m34t736osoptk63nhfd</string>
	<key>API_KEY</key>
	<string>AIzaSyCms32GkTpukx7uM4Gsq68EJSLB07sAjoM</string>
	<key>GCM_SENDER_ID</key>
	<string>737971452811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.lucasdev.gamebook</string>
	<key>PROJECT_ID</key>
	<string>gamebook-5abe9</string>
	<key>STORAGE_BUCKET</key>
	<string>gamebook-5abe9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737971452811:ios:726e36c6faf73f58a4cd8e</string>
</dict>
</plist>